/* You can add global styles to this file, and also import other style files */
body{
    background:rgb(111, 108, 108);
    font-family: sans-serif;
}
header,footer,main{
    background: white;
    padding:20px;
    margin:auto;
    width:800px;
}
header,footer{
    text-align:center;
}